@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@import "reset.css";
@import "status-bar.css";

body {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column; /*중간정렬을 시킴*/
    align-items: center;
    font-weight: 700;
}
.welcome-header__title {
    margin-bottom: 40px;
    font-size: 25px;
}
.welcome-header__text {
    width: 50%;
    opacity: 0.7;
}