.nav {
    background-color: #f9f9fa;
    padding: 20px 40px;
    border-top: 1px solid rgba(121, 121, 121, 0.2);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    color: #2e363e;
    position: relative;
    /* *notification을 정렬하기 위해 position 지정*/
}
.nav-notification {
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 12px;
    position: absolute;
    left: 18px;
    bottom: 18px;
}
.nav-notification__ellipsis {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    right: -4px;
}