.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}
.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}
.cog {
    position: relative;
}
.cog-dot {
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    right: 23px;
    top: 40px;
}